<blockquote class="quote">
  <p class="quote__text">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Autem
    inventore exercitationem laborum nesciunt accusantium. Animi fugiat quia
    tempora itaque corporis voluptatum rem repellat libero eum expedita
    minus, est ducimus consequuntur?
  </p>
  <footer class="quote__footer">
    <div class="media">
      <div class="media__image">
        <svg class="icon icon--primary quote__line">
          <use xlink:href="images/sprite.svg#line"></use>
        </svg>
      </div>
      <div class="media__body">
        <h3 class="media__title quote__author">John Smith</h3>
        <p class="quote__organization">
          apple computer ceo
        </p>
      </div>
    </div>
  </footer>
</blockquote>